.white-row-zero, .black-row-zero, .white-row-one, .black-row-one {
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}


.main-board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
  border: 10px solid red;
}

.white-square, .black-square {
  width: 60px;
  height: 60px;
  text-align: center;
}

.white-square {
  background-color: lightgoldenrodyellow;
}

.black-square {
  background-color: grey;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8 {
  display:flex;
}

.start {
  background-color: greenyellow;
}

.clear {
  background-color: red;
}